// Specific CSS for your home-page
body {
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("http://sophiealexandre.eu/imagesgithub/Restaurant.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
}
@font-face {
   font-family: "CormorantInfant-Bold";
   src: url('/assets/fonts/CormorantInfant-Bold.ttf')
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  bottom: 0;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
